<body>

    <!-- Sliders Begin -->
    <%= render 'sliders.html.erb' %>
    <!-- Sliders End -->
    
    <!-- About Section Begin -->
    <%= render 'about.html.erb' %>
    <!-- About Section End -->

    <!-- Stats Section Begin -->
    <%= render 'stats.html.erb' %>
    <!-- Stats Section Begin -->
    
    <!-- Teams Section Begin -->
    <%= render 'teams.html.erb' %>
    <!-- Teams Section Begin -->

</body>