<h1>My Family Members</h1>
<h2>You have <%= current_user.group.users.count %> family members</h2>

<div class="row">
<% @users.each_with_index do |user, index| %>
<div class="col-md-6 my-col row-eq-height">

<h2><a href="/familymembers/<%=user.id%>"><%= user.full_name %></a></h2>
<h3>Relationship:
<% @relationships.each do |relationship| %>
  <% if User.find(relationship.relative_id).id == user.id %>
    <%= RelativeType.find(relationship.relative_type_id).name %></h3>
  <% end %>
  <% end %>
<% user.id %>
</div>
<% if index % 2 == 1 %>
</div>
<div class="row">
<% end %>
<% end %>
</div>
