<h1>Welcome to My Family Tree</h1>

<% @messages.each do |message| %>
<p>By: <%= User.find(message.user_id).first_name %> on <%= message.updated_at %></p>
<p><%= message.post %></p>
<p><img src="<%= message.url %>"></p>
<% end %>