<h1>Welcome to My Family Tree</h1>

<% @messages.each do |message| %>
<div id="message">By: <%= User.find(message.user_id).first_name %> on <%= message.updated_at %>
<p><img src="<%= message.url %>"></p>
<p><%= message.post %></p>
</div>
<% end %>