/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$footer-color-background: #1e1e1e;
$user-profile-summary-background: #e7a61a;
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #4c4c4c;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 36px;
}

.about-container {
  display: -webkit-flex;
  display: flex;
  width: auto;
  height: auto;
  background-color: lightgrey;
}

.about-item {
  background-color: cornflowerblue;
  width: auto;
  height: auto;
  margin: 10px;
}

.about-video {
  width: 600px;
  height: auto;
}

.a {
  color: green;
  size: 2em;
}

a:hover {
  color: #e7a61a;
}

.logo-main {
  width: 350px;
  height: auto;
  margin-left: 1em;
  // padding-top: 20px;
  // padding-left: 20px;
}

.footer-containertent {
  margin-bottom: 30px;
}

.footer-image {
  width: 17em;
  height: auto;
}

#footer-contact-us {
  text-align: left;
  color: white;
  font-weight: 500;
  h4 {
    margin: 0;
  }
}

.about-header {
  text-align: center;
}

header {
  background-color: white;
  padding-bottom: 20px;
}

.container {
  float: none;
  margin: 0;
  width: 100%;
  .wrap-nav-container {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.navbar {
  background-image: url('asanoha.png');
  background-repeat: repeat;
  font-size: 1.5em;
  padding-bottom: 10px;
  padding-top: 0;
  margin-top: 0;
  // padding-left: 20px;
  font-family: 'Arvo', serif;
  a.nav-link:hover {
    background-color: green;
    color: lightgray !important;
  }
  a.nav-link:focus {
    background-color: green;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: auto;
    li {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .active a {
    background-color: green;
    color: lightgray !important;
  }
  .container-fluid {
    background-image: none;
  }
  .nav-link.active {
    background-color: green;
    color: lightgray !important;
  }
  .dropdown-item {
    color: rgba(0, 0, 0, 0.5);
    background-color: inherit;
    a:hover {
      background-color: green;
      color: lightgray;
    }
  }
}

// a.nav-item.dropdown-item:hover {
//   color: #4c4c4c;
//   background-color: green;
//   padding: .5 1em;
// }
.nav-link:hover {
  color: $user-profile-summary-background;
}

.my-2 {
  display: inline;
}

.about-sec {
  padding: 20px 0;
}

.info-section {
  padding: 20px 0;
}

.portfolio-section {
  padding: 10px 0 0;
}

#team {
  padding: 20px 0;
}

.footer-container {
  padding-top: 3em;
  padding-bottom: 0.9em;
  background-color: $footer-color-background;
}

.alert {
  text-align: center;
}

.section-header {
  margin-top: 10px;
  margin-bottom: 10px;
  h1 {
    color: inherit;
    padding: 0;
    font-size: 36px;
  }
}


/*  SECTIONS  */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}


/*  COLUMN SETUP  */

.col {
  display: block;
  float: none;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 100px;
}


/*  GROUPING  */

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 */
}


/*  GRID OF TWO  */

.span_2_of_2 {
  width: 100%;
}

.about-mft {
  background-color: floralwhite;
}

.span_1_of_2 {
  width: 40%;
  margin-left: 30px;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_2_of_2,
  .span_1_of_2 {
    width: 100%;
  }
}