// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#familyMap {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  float: none;
  .container-fluid {
    background-image: none;
  }
}

.family-map {
  h1 {
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  h3 {
    margin-bottom: 0;
    padding: 0;
    padding-bottom: 0;
  }
}