// Place all the styles related to the StatusUpdates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.status_update {
  background-image: url('asanoha.png');
  background-repeat: repeat;
  // background: white;
  -webkit-box-shadow: 25px 21px 89px 3px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 25px 21px 89px 3px rgba(0, 0, 0, 0.56);
  box-shadow: 25px 21px 89px 3px rgba(0, 0, 0, 0.56);
  border-radius: 38px 38px 38px 38px;
  -moz-border-radius: 38px 38px 38px 38px;
  -webkit-border-radius: 38px 38px 38px 38px;
  height: auto;
  width: 600px;
  float: none;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 1em;
  padding-top: 3em;
  .status-update-text {
    background-color: transparent;
  }
}

.comment {
  // text-align: center;
  float: none;
  margin: 0 auto;
}

.newsfeed-center {
  text-align: center;
  float: none;
  margin: 0 auto;
}