// Place all the styles related to the StatusUpdates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.status_update {
  // background-image: url('asanoha.png');
  // background-repeat: repeat;
  // background: white;
  -webkit-box-shadow: 25px 21px 89px 3px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 25px 21px 89px 3px rgba(0, 0, 0, 0.56);
  box-shadow: 25px 21px 89px 3px rgba(0, 0, 0, 0.56);
  border-radius: 38px 38px 38px 38px;
  -moz-border-radius: 38px 38px 38px 38px;
  -webkit-border-radius: 38px 38px 38px 38px;
  height: auto;
  min-width: 400px;
  max-width: 600px;
  float: none;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  a {
    color: green;
  }
  .status-update-text {
    background-color: transparent;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 5px;
    display: inline;
  }
  .form-width {
    width: 25em;
  }
  .status-update-box {
    background-color: floralwhite;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
  form {
    display: inline;
  }
}

.comment {
  // text-align: center;
  float: none;
  margin: 0 auto;
  background-color: #efefef;
  p {
    margin-bottom: 0;
    margin-left: 1em;
    color: gray;
  }
  input {
    color: #8bc58b;
  }
}

.newsfeed-center {
  text-align: center;
  float: none;
  margin: 0 auto;
}

.status-update-post {
  color: gray;
  font-size: 1.3em;
}

.btn-secondary:hover {
  background-color: white;
}