// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// img {
//   height: 25%;
//   width: 25%
// }
$color-primary: #3498db;
$color-secondary: #f1c40f;
$color-summary-background: #e7a61a;
$color-gallery-background: #EDECEB;
#message {
  background: white;
  padding: 0 15px 15px 15px;
  color: black;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
  min-height: 50px;
  width: 600px;
  border-radius: 15px;
  border: solid #575757 4px;
  margin-bottom: 15px;
}

.cta {
  .btn {
    background-color: green;
    border-color: green;
  }
  .btn:hover {
    background-color: gray;
    border-color: gray;
  }
}

.map-form {
  .form-control {
    background-color: transparent;
  }
  margin: 0 auto;
  float: none;
  background-color: transparent;
  .btn-warning {
    margin: auto;
  }
}

// .form-control,
// input {
//   margin: 0 auto;
//   float: none;
//   background-color: transparent;
//   width: 50%;
//   font-size: 70%
// }
//Stickies CSS
.stickies {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.stickies body {
  font-family: arial, sans-serif;
  font-size: 100%;
  margin: 2em;
  background: #666;
  color: #fff;
}

.stickies img {
  width: 10em;
  height: 10em;
}

.stickies h2,
p {
  font-size: 100%;
  font-weight: normal;
}

.stickies ul,
li {
  list-style: none;
}

.stickies ul {
  overflow: hidden;
  padding: 3em;
}

.stickies ul li a {
  text-decoration: none;
  color: #000;
  background: #48c0b9;
  display: block;
  height: 20em;
  width: 20em;
  padding: 1em;
  text-align: center;
  /* Firefox */
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

.stickies ul li:nth-child(even) a {
  transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
}

.stickies ul li:nth-child(3n) a {
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

// .stickies ul li:nth-child(5n) a {
//   transform: rotate(5deg);
//   -webkit-transform: rotate(5deg);
//   -moz-transform: rotate(5deg);
//   position: relative;
//   top: -10px;
// }
.stickies ul li a:hover {
  -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.stickies ul li a:focus {
  -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.stickies ul li {
  margin: 1em;
  float: left;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  padding-bottom: 5px;
}

.metaItem {
  color: green;
  padding: 0;
}

.user-profile {
  .summary {
    header {
      background-color: white;
    }
    .form-control {
      background-color: transparent;
      border: none;
    }
    float: left;
    // position: absolute;
    // top: 0;
    text-decoration: none;
    color: #000;
    background-color: white;
    display: block;
    height: 100%;
    min-height: 100%;
    width: auto;
    min-width: 400px;
    max-width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 5px;
    padding-right: 10px;
    text-align: center;
    /* Firefox */
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    .summary-edits {
      padding-top: 20px;
      input {
        border: none;
      }
      .btn {
        background-color: green;
        color: white;
      }
      .btn:hover {
        background-color: white;
        color: green;
      }
    }
    .profile-images {
      width: 300px;
      height: 300px;
    }
  }
  .gallery {
    // float: inherit;
    // position: absolute;
    // top: 0;
    // right: 0;
    padding-top: 10px;
    min-height: 500px;
    // max-width: 1500px;
    min-width: 1000px;
    background-image: url('new_year_background.png');
    background-repeat: repeat;
    // /* Firefox */
    // -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    // /* Safari+Chrome */
    // -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    // /* Opera */
    // box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    .header {
      text-align: center;
    }
    .section-header {
      margin-bottom: 10px;
    }
    .gallery-wrapping-div {
      // display: inline;
    }
    .images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      padding: 0;
      padding-bottom: 3em;
      .profile-images {
        margin-right: 30px;
        width: 300px;
        height: 300px;
      }
      .profile-images:hover {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        transform: scale(1.25);
        position: relative;
        z-index: 5;
      }
      li {
        position: relative;
        a {
          position: absolute;
          right: 30px;
          bottom: 0;
          color: black;
        }
      }
    }
  }
}