
    <div class="about-class">
      <div id="video-in-about-sec"><%= video_tag "about.mp4", controls: false, autoplay: true, muted: true, loop: true, id: "about-video" %></div>

      <div id="MFT-text" class="animated slideInLeft">
        <p>My Family Tree is a fun, easy and safe way to keep in touch with family and build a family tree.</p>
      </div>
    </div>
