<!-- Clients Section -->
    <section id="clients" class="clients-section">
      <!-- Container Ends -->
      <div class="container">
	    <div class="row">
        <!-- Section Header -->
              <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Customer Feedback</span></h2> 
                    </div>
                <!-- Section Header End --> 
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="testimonials">
            	<div class="active item">
                  <blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p></blockquote>
                  <div class="carousel-info">
                    <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                    <div class="pull-left">
                      <span class="testimonials-name">Lina Mars</span>
                      <span class="testimonials-post">Commercial Director</span>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div> 
		 </div>
      </div><!-- Container Ends -->
    </section>
    <!-- Client Section End -->