<div class="row">
  <div class="col-sm-6">
    <div class="card card-block">
      <h2 class="card-title">Signup today!</h2>
      <a href="/signup" class="btn btn-primary">Signup</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-block">
      <h2 class="card-title">Already signed up?</h2>
      <a href="/login" class="btn btn-primary">Login</a>
    </div>
  </div>
</div>