<header>
        <!-- Navigation Menu start-->
		
	<nav id="topNav" class="navbar navbar-default main-menu">
    <div class="container">
        <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            ☰
        </button> 
		 <a class="navbar-brand page-scroll" href="#slider"><img class="logo" id="logo" src="images/logo.png" alt="logo"></a>
        <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
            <ul class="nav navbar-nav">
                 <li class="active">
                            <a href="#slider">HOME</a>
                        </li>
                        <li>
                            <a href="#about">ABOUT</a>
                        </li>
						 <li>
                            <a href="#services">SERVICES</a>
                        </li>
						 <li>
                            <a href="#menuCard">MENU</a>
                        </li> 
                        <li>
                            <a href="#portfolio">GALLERY</a>
                        </li> 
                        <li>
                            <a href="#team">CHEFS</a>
                        </li>
						 <li>
                            <a href="#clients">FEEDBACK</a>
                        </li>
                        <li>
                            <a href="#contact">CONTACT US</a>
                        </li>
            </ul> 
        </div>
    </div>
</nav>

        
    </header>