<section id="info" class="info-section">
<div class="container text-xs-center">
         <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Stats</span></h2>
                   
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque.</p>
                </div>
                <!-- Section Header End -->
        <div class="row wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                
                <i class="icon_mic_alt wow pulse" style="visibility: visible; animation-name: pulse;"></i>
                <h4>Margins</h4>
				<h1 class="text-primary">100,000</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                
                <i class="icon_gift_alt wow pulse" style="visibility: visible; animation-name: pulse;"></i>
                <h4>Completed</h4>
				<h1 class="text-primary">34201</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
              
                <i class="icon_mobile wow pulse" style="visibility: visible; animation-name: pulse;"></i>
  <h4>Projects</h4>               
			   <h1 class="text-primary">152</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
               
                <i class="icon_lightbulb_alt wow pulse" style="visibility: visible; animation-name: pulse;"></i>
 <h4>Customers</h4>               
			   <h1 class="text-primary">56500</h1>
            </div>
        </div> 
    </div>
</section>
