<section class="menus style3" id="menuCard">
                <div class="container"> 
                    <div class="row"> 
	
	    <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Menu Card</span></h2>
                   
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque.</p>
                </div>
                <!-- Section Header End -->
				
                        <div class="menus-container"> 
                                <!-- menu --> 
                                    <div class="menu row">
                                        <div class="col-md-6 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                                            <div class="menu-column">
                                                <div class="food">
                                                    <div class="food-desc">
                                                        <h6 class="food-name">Chicken Masala</h6>
                                                        <div class="dots"></div>
                                                        <div class="food-price">
                                                            <span>5.00</span>
                                                        </div><!-- /food-price -->
                                                    </div><!-- /food-desc -->
                                                    <div class="food-details">
                                                        <span>with “butter”</span>
                                                    </div><!-- /food-details -->
                                                </div><!-- /food -->
                                                <div class="food">
                                                    <div class="food-desc">
                                                        <h6 class="food-name">Mango Rice with Curd</h6>
                                                        <div class="dots"></div>
                                                        <div class="food-price">
                                                            <span>16.00</span>
                                                        </div><!-- /food-price -->
                                                    </div><!-- /food-desc -->
                                                    <div class="food-details">
                                                        <span>with chat masala</span>
                                                    </div><!-- /food-details -->
                                                </div><!-- /food -->
                                                <div class="food">
                                                    <div class="food-desc">
                                                        <h6 class="food-name">Mutton Fry Rice</h6>
                                                        <div class="dots"></div>
                                                        <div class="food-price">
                                                            <span>22.00</span>
                                                        </div><!-- /food-price -->
                                                    </div><!-- /food-desc -->
                                                    <div class="food-details">
                                                        <span>with pure meat</span>
                                                    </div><!-- /food-details -->
                                                </div><!-- /food -->
                                                <div class="food">
                                                    <div class="food-desc">
                                                        <h6 class="food-name">Eggs Mancuriya</h6>
                                                        <div class="dots"></div>
                                                        <div class="food-price">
                                                            <span>22.00</span>
                                                        </div><!-- /food-price -->
                                                    </div><!-- /food-desc -->
                                                    <div class="food-details">
                                                        <span>with Vegies</span>
                                                    </div><!-- /food-details -->
                                                </div><!-- /food -->
                                                <div class="food">
                                                    <div class="food-desc">
                                                        <h6 class="food-name">Chicken Currey </h6>
                                                        <div class="dots"></div>
                                                        <div class="food-price">
                                                            <span>15.00</span>
                                                        </div><!-- /food-price -->
                                                    </div><!-- /food-desc -->
                                                    <div class="food-details">
                                                        <span>with curry leafs</span>
                                                    </div><!-- /food-details -->
                                                </div><!-- /food -->
                                            </div><!-- /menu-column -->
                                        </div><!-- /col-md-6 -->
                                        <div class="col-md-6 wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                                            <div class="menu-column">
                                                <div class="food">
                                                    <div class="food-desc">
                                                        <h6 class="food-name">Pure Veg Salad</h6>
                                                        <div class="dots"></div>
                                                        <div class="food-price">
                                                            <span>5.00</span>
                                                        </div><!-- /food-price -->
                                                    </div><!-- /food-desc -->
                                                    <div class="food-details">
                                                        <span>with all veg</span>
                                                    </div><!-- /food-details -->
                                                </div><!-- /food -->
                                                <div class="food">
                                                    <div class="food-desc">
                                                        <h6 class="food-name">Veg Fry Rice</h6>
                                                        <div class="dots"></div>
                                                        <div class="food-price">
                                                            <span>16.00</span>
                                                        </div><!-- /food-price -->
                                                    </div><!-- /food-desc -->
                                                    <div class="food-details">
                                                        <span>with best fry</span>
                                                    </div><!-- /food-details -->
                                                </div><!-- /food -->
                                                <div class="food">
                                                    <div class="food-desc">
                                                        <h6 class="food-name">Chines Noodles</h6>
                                                        <div class="dots"></div>
                                                        <div class="food-price">
                                                            <span>22.00</span>
                                                        </div><!-- /food-price -->
                                                    </div><!-- /food-desc -->
                                                    <div class="food-details">
                                                        <span>with all spices</span>
                                                    </div><!-- /food-details -->
                                                </div><!-- /food -->
                                                <div class="food">
                                                    <div class="food-desc">
                                                        <h6 class="food-name">Chicken Manchuriah</h6>
                                                        <div class="dots"></div>
                                                        <div class="food-price">
                                                            <span>22.00</span>
                                                        </div><!-- /food-price -->
                                                    </div><!-- /food-desc -->
                                                    <div class="food-details">
                                                        <span>with hot and wet</span>
                                                    </div><!-- /food-details -->
                                                </div><!-- /food -->
                                                <div class="food">
                                                    <div class="food-desc">
                                                        <h6 class="food-name">Veg Fry Rice </h6>
                                                        <div class="dots"></div>
                                                        <div class="food-price">
                                                            <span>15.00</span>
                                                        </div><!-- /food-price -->
                                                    </div><!-- /food-desc -->
                                                    <div class="food-details">
                                                        <span>with egg and chicken </span>
                                                    </div><!-- /food-details -->
                                                </div><!-- /food -->
                                            </div><!-- /menu-column -->
                                        </div><!-- /col-md-6 -->
                                    </div><!-- /row -->
                                 </div><!-- /menu-carousel -->
                        </div><!-- /menus-container --> 
                </div><!-- /container -->
            </section>